#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    direction: rtl;
    margin-top: 10%!important;
    margin-left: 12%!important;
    /* margin-right: -13%!important; */
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    direction: rtl;
  }
  #customers tr:nth-child(even){
    direction: rtl;
    background-color: #f2f2f2;}
  
  #customers tr:hover {
    direction: rtl;
    background-color: #ddd;}
  
  #customers th {
   margin-left: 30%!important;
    padding-top: 12px;
    padding-bottom: 12px;
    /* text-align: left; */
    background-color: purple;
    color: white;
  }
  #wr{
    margin-right: 111%;
  }
