nav{ 
    direction: rtl;
    font-size: 23px;
  
}
.nav-link{
    color: purple;
}
.nav-link:hover{
    color: purple;
}
h2{
    color:purple;
    font-size: 20px;
    margin-left: 85%;
    margin-top: 1%;
}
.iconCartManager{
    margin-right: 90%!important;
}
.iconCartUser{
    margin-right: 10000%!important;
    /* margin-left: 0px !important; */
}
.iconCartGuest{
    margin-right: 11000%!important;
}
#outUser{
    margin-right: 82%!important;
    /* margin-left: 50% !important; */
}
#outManager{
    margin-right: 300%!important;
}